c-carousel {
  margin: 0 auto;
}

c-carousel-inner {
  height: 505px; /* Hauteur par défaut pour les écrans larges */
  display: flex;
  align-items: center;
}

c-carousel-item img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Garder l'image entière visible */
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

/* Adaptation pour les tablettes */
@media (max-width: 1024px) {
  c-carousel-inner {
    height: 400px; /* Ajuster la hauteur pour les tablettes */
  }
}

/* Adaptation pour les mobiles */
@media (max-width: 768px) {
  c-carousel-inner {
    height: 300px; /* Ajuster la hauteur pour les mobiles */
  }
}

@media (max-width: 480px) {
  c-carousel-inner {
    height: 250px; /* Ajuster la hauteur pour les petits mobiles */
  }
}
