/* Styles pour le header */
.header {
  text-align: center;
}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 45px;
}

.left-content, .right-content {
  display: flex;
  align-items: center;
  color : aliceblue;
}

.login-link {
  margin-right: 20px; /* Espacement entre les liens */
}

/*Partie inférieure du header*/
/* Styles pour le header */
.header {
  text-align: center;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1; /* Pour occuper tout l'espace disponible */
}

.search-bar {
  flex: 1; /* Pour occuper tout l'espace disponible */
  text-align: center; /* Aligner le contenu de la barre de recherche au centre */
}

.user-actions {
  flex: 1; /* Pour occuper tout l'espace disponible */
}

.header-bottom {
  height: 100px; /* Fixe la hauteur du header-bottom à 100 pixels */
}


.right-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.login-link {
  background-color: #28a745;
}

.login-link:hover {
  background-color: #218838;
}

.logout-link {
  cursor : pointer;
  background-color: #dc3545;
}

.logout-link:hover {
  background-color: #c82333;
}

.service-client {
  font-size: 16px;
  color: #6c757d;
}

/*Panier*/
.cart-count {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0 5px;
  font-size: 8px;
}
