<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/clients" routerLinkActive="active">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/products" routerLinkActive="active">Produits</a>
    </li>
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLink="/admin/orders" routerLinkActive="active">Commandes</a>-->
<!--    </li>-->
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Retour au site</a>
    </li>
  </ul>
</div>


<!-- -&#45;&#45;&#45;&#45;-->
