<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
  <h2>{{ isNewProduct ? 'Ajouter un Nouveau Produit' : 'Modifier le Produit' }}</h2>
  <form (ngSubmit)="saveProduct()">
    <div class="form-group">
      <label for="name">Nom</label>
      <input id="name" [(ngModel)]="product.name" name="name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" [(ngModel)]="product.description" name="description" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="price">Prix</label>
      <input id="price" [(ngModel)]="product.price" name="price" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="quantity">Quantité</label>
      <input id="quantity" [(ngModel)]="product.quantity" name="quantity" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="stockQuantity">Quantité en stock</label>
      <input id="stockQuantity" [(ngModel)]="product.stockQuantity" name="stockQuantity" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input id="image" [(ngModel)]="product.image" name="image" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">{{ isNewProduct ? 'Créer' : 'Mettre à Jour' }}</button>
  </form>
</div>
  </div>
</div>
