<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
    <h2>Liste des Produits</h2>
  <button class="btn btn-primary mb-2" [routerLink]="['/admin/products/new']">Ajouter un produit</button>
  <table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/admin/products', product.id]">Modifier</button>
        <button class="btn btn-danger" (click)="deleteProduct(product.id)">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
    </div>

  </div>
</div>
