<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <h2>Liste des Clients</h2>
      <button class="btn btn-primary mb-2" [routerLink]="['/admin/clients/new']">Ajouter un client</button>
      <table class="table">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.name }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/admin/clients', client.id]">Modifier</button>
            <button class="btn btn-danger" (click)="deleteClient(client.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
