<!-- Header -->
<header class="header">
  <!-- Partie supérieure -->
  <div class="header-top">
    <div class="left-content">
      <span>Livraison gratuite > 50 $ | Livraison rapide | Renvois gratuits</span>
    </div>
    <div class="right-content">
      <a href="#" class="login-link">Se connecter</a>
      <span>Service client</span>
    </div>
  </div>

  <!-- Partie inférieure -->
  <div class="header-bottom">
    <!-- Logo -->
    <div class="logo">
      <!-- <img class="img-responsive" src="../assets/images/logo.jpg" alt="Logo"> -->
      <span>FULLDRIP</span>
    </div>
    <nav>
      <ul>
        <a routerLink="/admin/clients">Admin Clients</a>
        <a routerLink="/admin/products">Admin Products</a>
      </ul>
    </nav>

    <!-- Barre de recherche -->
    <div class="search-bar">
      <input type="text" placeholder="Rechercher...">
      <button type="button">Rechercher</button>
    </div>

    <!-- Favoris et panier -->
    <div class="user-actions">
      <a href="lien_vers_vos_favoris"><mat-icon>favorite</mat-icon></a>
      <a href="lien_vers_votre_panier"><mat-icon>shopping_cart</mat-icon></a>
    </div>

  </div>
</header>

<router-outlet></router-outlet>


